* {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    color: red;
    cursor: pointer;
    border-radius: 4px;
    transition: .5s;
}

.container {
    width: 90%;
    margin: auto;
}

a {
    text-decoration: none;
    color: #007965;
}

#menuArea {
    display: none;
}

nav {
    width: 100%;
}

.cart_bar {
    width: 13%;
    height: 50px;
    float: right;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
}

.cart_bar i {
    color: #f58634;
}

.cart_bar span {
    font-family: 'Bangers', cursive;
}

.login {
    float: left;
    font-size: 18px;
    font-weight: 500;
    padding-right: 10px;
    border-right: 2px solid black;
}

.cart {
    font-size: 18px;
    font-weight: 500;
    float: right;
}


/* ............................................product menubar.......................................................... */

.product_menu {
    width: 100%;
    height: 80px;
    background-color: #007965;
    padding: 20px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 10;
}

.product_menu h1 {
    display: inline-block;
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 30px;
    letter-spacing: 3px;
}

.option_bar {
    width: 70%;
    float: right;
    display: inline-block;
}

.product_menu ul {
    padding: 5px;
}

.product_menu ul li {
    display: inline-block;
    padding: 0 25px;
}

.product_menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Righteous', cursive;
    letter-spacing: 2px;
}


/* ........................................Search content.................................................... */

.search_content {
    width: 100%;
    height: 80px;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
}


/*------------------------search box----------------------------------*/

.searchbox form {
    display: flex;
    justify-content: center;
}

.searchbox {
    width: 800px;
    display: inline-block;
    /* padding: 15px; */
}

.searchbox input {
    font-size: 20px;
    box-sizing: border-box;
    font-family: 'Bangers', cursive;
}

.searchbox input[type="text"] {
    background: white;
    width: 100%;
    height: 50px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.246);
    outline: none;
    padding: 0 25px;
}

.searchbox select {
    height: 50px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.246);
    outline: none;
    background: white;
    font-size: 18px;
    padding: 10px;
    border-right: 1px solid white;
    font-weight: 500;
}

.searchbox select option {
    font-weight: 500;
}

.searchbox i {
    position: relative;
    padding: 17px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #00796596;
    color: white;
}

.inputbox {
    max-width: 600px;
    height: 36px;
    /* background-color: white; */
    display: flex;
    flex-grow: 1;
}

@media only screen and (max-width: 428px) {
    .searchbox select {
        display: none;
    }
    .searchbox {
        width: 360px;
        padding: 15px 15px 30px;
    }
}


/* ............................ */


/* ........................................Contact part.................................................... */

.contact1 {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    font-family: 'RocknRoll One', sans-serif;
    overflow: hidden;
}

.foot_box {
    width: 50%;
    float: left;
    text-align: center;
    padding-bottom: 30px;
}

.map_box {
    width: 90%;
    height: 450px;
    float: left;
    clear: both;
    box-shadow: 0 0 5px 0px cadetblue;
    border-radius: 25px;
}

iframe {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.contact1 h4 {
    font-size: 35px;
    color: #007965;
    text-align: center;
    font-family: 'Bangers', cursive;
    margin: 20px 0 40px 0;
}

.info_contact {
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    padding: 2%;
    margin: 5% 0 0 10%;
    width: 70%;
    outline: none;
    box-shadow: 0 0 2px 0px black;
    border-radius: 25px;
    border: 1px solid gray;
}

.contact ::placeholder {
    padding-left: 25px;
    font-family: 'RocknRoll One', sans-serif;
}

.foot_btn {
    width: 150px;
    height: 38px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    margin: 5% 0 0 10%;
    border-radius: 50px 50px;
    border: none;
    color: #f58634;
    border: 2px solid #007965;
    transition: 1s;
}

.foot_btn a {
    text-decoration: none;
    color: #007965;
    font-weight: 800;
}

.foot_btn:hover {
    background: linear-gradient(to right, #09071b, #007965, #09071B);
    border: 2px solid #f58634;
    border-radius: 50px 50px;
}

.foot_btn:hover a {
    color: white;
    font-weight: 500;
}


/* ........................................end of contact part.............................................. */


/*--------------------------------------Footer--------------------------------------*/

.fot {
    display: grid;
    justify-content: end;
    align-content: end;
    min-height: 60vh;
    font-family: 'Poppins', sans-serif;
    /* background-color: brown; */
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 50px;
    box-sizing: border-box;
    background: url('https://jayshah1234.github.io/E-vegetable/images/footer.jpg');
    background-size: cover;
    /* background-color: aquamarine; */
}

footer .foot {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

footer .foot .sec2 h2 {
    position: relative;
    color: white;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .foot .sec2 h2::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #ffcc29;
}

footer .foot .sec2 p {
    color: white;
}

.sci {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-gap: 10px;
}

.sci li {
    list-style-type: none;
}

.sci li a {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-color: #007965;
    display: grid;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 25px;
}

.sci li a:hover .fab {
    color: #ffcc29;
}

.sci li a .fab {
    color: white;
    font-size: 20px;
}

.quicklinks {
    position: relative;
}

.quicklinks li {
    list-style-type: none;
}

.quicklinks li a {
    color: #f7f7f7;
    text-decoration: none;
    margin: 0 0 10px -40px;
    display: inline-block;
}

.quicklinks li a:hover {
    color: #ffcc29;
}

.info {
    position: relative;
}

.info li {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}

.info li span:nth-child(1) {
    color: white;
    font-size: 20px;
}

.info li span {
    color: white;
}

.info a {
    color: #f7f7f7;
    text-decoration: none;
}

.info a:hover {
    color: #ffcc29;
}

.copy {
    width: 100%;
    background: url('https://jayshah1234.github.io/E-vegetable/images/footer.jpg');
    border-top: 1px solid white;
    padding: 20px 0px;
    text-align: center;
    color: white;
}

@media(max-width: 991px) {
    footer {
        padding: 40px;
    }
    footer .foot {
        grid-template-columns: repeat(2, 1fr);
    }
    .copy {
        padding: 20px 0px;
    }
}

@media(max-width: 768px) {
    footer .foot {
        grid-template-columns: repeat(1, 1fr);
    }
}


/* .........................................Responsive................................................ */

@media only screen and (max-width:426px) {
    /* ............................................nav........................................................     */
    .cart_bar {
        display: none;
    }
    /* .....................contact part.............................. */
    .foot_content {
        display: grid;
        grid-template-rows: repeat(1, 410px);
        grid-template-columns: repeat(1, 95%);
        margin: auto;
    }
    .foot_box {
        width: 100%;
    }
    .content_contact {
        width: 100%;
        margin-top: 70px;
    }
    .map_box {
        width: 100%;
        margin-left: 10px;
    }
    .map {
        grid-row-start: 1;
        grid-row-end: 2;
    }
    /* .................................hamburger.................................... */
    .option_bar {
        display: none;
    }
    #menuArea {
        display: block;
    }
    #menuArea input {
        display: none;
    }
    .open {
        background-color: white;
        width: 34px;
        height: 4px;
        display: block;
        border-radius: 2px;
        cursor: pointer;
        position: relative;
        top: 8px;
    }
    .open:before {
        content: "";
        background-color: white;
        width: 34px;
        height: 4px;
        display: block;
        border-radius: 2px;
        position: relative;
        top: -8px;
        transform: rotate(0deg);
        transition: all 0.3s ease;
    }
    .open:after {
        content: "";
        background-color: white;
        width: 34px;
        height: 4px;
        display: block;
        border-radius: 2px;
        position: relative;
        top: 4px;
        transform: rotate(0deg);
        transition: all 0.3s ease;
    }
    .menuOpen {
        width: 24px;
        height: 20px;
        display: block;
        padding: 0 15px;
        cursor: pointer;
        /* float: right; */
        position: fixed;
        right: 45px;
        top: 30px;
        z-index: 10;
    }
    .menuOpen:hover .open:before {
        top: -9px;
    }
    .menuOpen:hover .open:after {
        top: 5px;
    }
    .menu {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: #00af92d5;
        z-index: 1 !important;
    }
    .menu label {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 20px;
        top: 20px;
        background-size: 100%;
        cursor: pointer;
    }
    .menu .menuContent {
        width: 422px;
        position: relative;
        top: 50%;
        /* width: 100px; */
        /* font-size: 84px; */
        text-align: center;
        padding-bottom: 20px;
        margin-top: -170px;
    }
    .menu ul {
        list-style: none;
        display: inline;
        text-align: center;
    }
    .menu ul li {
        width: 420px;
        text-align: center;
    }
    .menu ul li a {
        display: block;
        color: white;
        font-size: 20px;
        text-decoration: none;
        transition: color 0.2s;
        text-transform: uppercase;
        padding: 10px 0;
    }
    .menu ul li a:hover {
        color: #007965c0;
    }
    .menu ul li:hover {
        background: #007965c0;
    }
    .menuEffects {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s, visibility 0.5s;
    }
    .menuEffects ul {
        transform: translateY(0%);
        transition: all 0.5s;
    }
    #menuToggle:checked~.menuEffects {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s;
    }
    #menuToggle:checked~.menuEffects ul {
        opacity: 1;
    }
    #menuToggle:checked~.menuOpen .open {
        background-color: transparent;
    }
    #menuToggle:checked~.menuOpen .open:before {
        content: "";
        background-color: white;
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
    #menuToggle:checked~.menuOpen .open:after {
        content: "";
        background-color: white;
        transform: rotate(-45deg);
        position: relative;
        top: 0;
        right: 0;
        z-index: 1;
        /* z-index: 10 !important; */
    }
    #menuToggle:not(:checked)~.menuEffects ul {
        transform: translateY(-30%);
    }
    /* ....................................................... */
}